/* utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
}
.debug {
    border: 1px solid black;
    /* height: 200px; */
}

/* colori */
.bg-lightgrey {
    background-color: #f6f6f6;
}
.bg-viola {
    background-color: #404EED;
}
.bg-grey {
    background-color: #23272a;
}
.bg-white{
    background-color: white;
}
.bg-dark{
    background-color: #23272a;
}
.fnt-black {
    color: #23272a;
}
.fnt-white {
    color: white;
}
.fnt-viola {
    color: #404EED;
}

/* header */

header{
    padding-bottom: 50px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}
nav{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}
li {
    list-style: none;
    font-weight: 700;
}
a {
    text-decoration: none;
    
}


.btn{
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 5px 8px #23272a;
}
.btn-hero a:hover {
    color: white;
    background-color: #23272a;
}
h1{
    font-size: 56px;
    font-weight: 700px;
    padding: 20px 0 50px 0;
}
.hero-container {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    height: auto;
}
.hero {
    text-align: center;
    max-width: 700px;
}
p{
    line-height: 1.625;
}
.hero p {
    padding-bottom: 50px;
}

/* sezioni della pagina */
h2 {
    font-size: 48px;
    padding-bottom: 50px;
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}
div.text {
    width: 20%;
    padding: 20px;
    margin-left: 50px;
}
div.text p {
    line-height: 1.8em;
}
svg {
    display: block;
    color:#f6f6f6;  /*#f6f6f6*/
}
section:nth-child(1n-2) img{
    margin-right: 30px;
}
.last-section {
    text-align: center;
}
.last-section div {
    max-width: 1100px;
    margin: 0 auto;
}

/* fine ultima section */

h3 {
    font-size: 36px;
}
.last-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}



/* footer */

.icons img {
    width: 20px;
}
.icons h3{
    padding-bottom: 10px;
    font-size: 32px;
    width: 250px;
}
footer > div {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;

}
footer div ul {
    line-height: 1.8em;
    font-size: 14px;
}